.button {
  background-color: #5433FF;
  border-radius: 4px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.button:hover {
  background-color: darkblue;
  color: white;
}